
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Configuration Passed!</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css">
</head>
<body>
    <section class="hero is-success is-fullheight">
        <div class="hero-body">
            <div class="container">
                <h1 class="title">
                    Everyhing looks fine and it's time for last step!
                </h1>
                <h2 class="subtitle">
                    Now you have to restart application to start working with your own blog API. :)<br/>Happy Coding!
                </h2>
            </div>
        </div>
    </section>
</body>
</html>
